{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "An AWS Serverless Application.",
  "Parameters": {
    "ConnectionMappingTableName": {
      "Type": "String",
      "Default": "ConnectionsTableDefaultName",
      "Description": "The name of the new DynamoDB to store connection identifiers for each connected clients. Minimum 3 characters.",
      "MinLength": "3",
      "MaxLength": "50",
      "AllowedPattern": "^[A-Za-z_]+$"
    }
  },
  "Resources": {
    "ConnectionMappingTable": {
      "Type": "AWS::DynamoDB::Table",
      "Properties": {
        "TableName": {
          "Ref": "ConnectionMappingTableName"
        },
        "AttributeDefinitions": [
          {
            "AttributeName": "connectionId",
            "AttributeType": "S"
          }
        ],
        "KeySchema": [
          {
            "AttributeName": "connectionId",
            "KeyType": "HASH"
          }
        ],
        "BillingMode": "PAY_PER_REQUEST"
      }
    },
    "OnConnectFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "SocketService::SocketService.Functions::OnConnectHandler",
        "Runtime": "dotnet10",
        "CodeUri": "",
        "MemorySize": 512,
        "Timeout": 30,
        "Role": null,
        "Policies": [
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "ConnectionMappingTableName"
              }
            }
          }, 
          {
            "DynamoDBCrudPolicy": {
              "TableName": "GameTable"
            }
          },
          {
            "Statement": {
              "Effect": "Allow",
              "Action": "execute-api:ManageConnections",
              "Resource": "arn:aws:execute-api:*:*:*/@connections/*"
            }
          }
        ],
        "Environment": {
          "Variables": {
            "TABLE_NAME": {
              "Ref": "ConnectionMappingTableName"
            }
          }
        }
      }
    },
    "OnDisconnectFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "SocketService::SocketService.Functions::OnDisconnectHandler",
        "Runtime": "dotnet10",
        "CodeUri": "",
        "MemorySize": 512,
        "Timeout": 30,
        "Role": null,
        "Policies": [
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "ConnectionMappingTableName"
              }
            }
          }
        ],
        "Environment": {
          "Variables": {
            "TABLE_NAME": {
              "Ref": "ConnectionMappingTableName"
            }
          }
        }
      }
    },
    "PlayerActionFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "SocketService::SocketService.Functions::PlayerActionHandler",
        "Runtime": "dotnet10",
        "CodeUri": "",
        "MemorySize": 512,
        "Timeout": 30,
        "Role": null,
        "Policies": [
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "ConnectionMappingTableName"
              }
            }
          },
          {
            "Statement": {
              "Effect": "Allow",
              "Action": "execute-api:ManageConnections",
              "Resource": "arn:aws:execute-api:*:*:*/@connections/*"
            }
          },
                    {
            "Statement": {
              "Effect": "Allow",
              "Action": "lambda:InvokeFunction",
              "Resource": {
                "Fn::Sub": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:TestFunc"
              }
            }
        }
        ],
        "Environment": {
          "Variables": {
            "TABLE_NAME": {
              "Ref": "ConnectionMappingTableName"
            }
          }
        }
      }
    },
    "JoinGameSessionFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "SocketService::SocketService.Functions::JoinGameSessionHandler",
        "Runtime": "dotnet10",
        "CodeUri": "",
        "MemorySize": 512,
        "Timeout": 30,
        "Role": null,
        "Policies": [
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "ConnectionMappingTableName"
              }
            }
          }, 
          {
            "DynamoDBCrudPolicy": {
              "TableName": "GameTable"
            }
          },
                    {
            "Statement": {
              "Effect": "Allow",
              "Action": "execute-api:ManageConnections",
              "Resource": "arn:aws:execute-api:*:*:*/@connections/*"
            }
          }
       ],
        "Environment": {
          "Variables": {
            "TABLE_NAME": {
              "Ref": "ConnectionMappingTableName"
            }
          }
        }
      }
    },
    "GPWebSocketApi": {
      "Type": "AWS::ApiGatewayV2::Api",
      "Properties": {
        "Name": "SimpleChatWebSocket",
        "ProtocolType": "WEBSOCKET",
        "RouteSelectionExpression": "$request.body.route"
      }
    },
    "ConnectRoute": {
      "Type": "AWS::ApiGatewayV2::Route",
      "Properties": {
        "ApiId": {
          "Ref": "GPWebSocketApi"
        },
        "RouteKey": "$connect",
        "AuthorizationType": "NONE",
        "OperationName": "ConnectRoute",
        "Target": {
          "Fn::Join": [
            "/",
            [
              "integrations",
              {
                "Ref": "ConnectInteg"
              }
            ]
          ]
        }
      }
    },
    "ConnectInteg": {
      "Type": "AWS::ApiGatewayV2::Integration",
      "Properties": {
        "ApiId": {
          "Ref": "GPWebSocketApi"
        },
        "IntegrationType": "AWS_PROXY",
        "IntegrationUri": {
          "Fn::Sub": [
            "arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${function}/invocations",
            {
              "region": {
                "Ref": "AWS::Region"
              },
              "function": {
                "Fn::GetAtt": [
                  "OnConnectFunction",
                  "Arn"
                ]
              }
            }
          ]
        }
      }
    },
    "DisconnectRoute": {
      "Type": "AWS::ApiGatewayV2::Route",
      "Properties": {
        "ApiId": {
          "Ref": "GPWebSocketApi"
        },
        "RouteKey": "$disconnect",
        "AuthorizationType": "NONE",
        "OperationName": "ConnectRoute",
        "Target": {
          "Fn::Join": [
            "/",
            [
              "integrations",
              {
                "Ref": "DisconnectInteg"
              }
            ]
          ]
        }
      }
    },
    "DisconnectInteg": {
      "Type": "AWS::ApiGatewayV2::Integration",
      "Properties": {
        "ApiId": {
          "Ref": "GPWebSocketApi"
        },
        "IntegrationType": "AWS_PROXY",
        "IntegrationUri": {
          "Fn::Sub": [
            "arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${function}/invocations",
            {
              "region": {
                "Ref": "AWS::Region"
              },
              "function": {
                "Fn::GetAtt": [
                  "OnDisconnectFunction",
                  "Arn"
                ]
              }
            }
          ]
        }
      }
    },
    "JoinGameSessionRoute": {
      "Type": "AWS::ApiGatewayV2::Route",
      "Properties": {
        "ApiId": {
          "Ref": "GPWebSocketApi"
        },
        "RouteKey": "join-game",
        "AuthorizationType": "NONE",
        "OperationName": "JoinGameSessionRoute",
        "Target": {
          "Fn::Join": [
            "/",
            [
              "integrations",
              {
                "Ref": "JoinGameSessionInteg"
              }
            ]
          ]
        }
      }
    },
    "JoinGameSessionInteg": {
      "Type": "AWS::ApiGatewayV2::Integration",
      "Properties": {
        "ApiId": {
          "Ref": "GPWebSocketApi"
        },
        "IntegrationType": "AWS_PROXY",
        "IntegrationUri": {
          "Fn::Sub": [
            "arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${function}/invocations",
            {
              "region": {
                "Ref": "AWS::Region"
              },
              "function": {
                "Fn::GetAtt": [
                  "JoinGameSessionFunction",
                  "Arn"
                ]
              }
            }
          ]
        }
      }
    },
    "PlayerActionRoute": {
      "Type": "AWS::ApiGatewayV2::Route",
      "Properties": {
        "ApiId": {
          "Ref": "GPWebSocketApi"
        },
        "RouteKey": "player-action",
        "AuthorizationType": "NONE",
        "OperationName": "ConnectRoute",
        "Target": {
          "Fn::Join": [
            "/",
            [
              "integrations",
              {
                "Ref": "PlayerActionInteg"
              }
            ]
          ]
        }
      }
    },
    "PlayerActionInteg": {
      "Type": "AWS::ApiGatewayV2::Integration",
      "Properties": {
        "ApiId": {
          "Ref": "GPWebSocketApi"
        },
        "IntegrationType": "AWS_PROXY",
        "IntegrationUri": {
          "Fn::Sub": [
            "arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${function}/invocations",
            {
              "region": {
                "Ref": "AWS::Region"
              },
              "function": {
                "Fn::GetAtt": [
                  "PlayerActionFunction",
                  "Arn"
                ]
              }
            }
          ]
        }
      }
    },
    "Deployment": {
      "Type": "AWS::ApiGatewayV2::Deployment",
      "DependsOn": [
        "ConnectRoute",
        "PlayerActionRoute",
        "DisconnectRoute",
        "JoinGameSessionRoute"
      ],
      "Properties": {
        "ApiId": {
          "Ref": "GPWebSocketApi"
        }
      }
    },
    "Stage": {
      "Type": "AWS::ApiGatewayV2::Stage",
      "Properties": {
        "ApiId": {
          "Ref": "GPWebSocketApi"
        },
        "DeploymentId": {
          "Ref": "Deployment"
        },
        "StageName": "Prod"
      }
    },
    "OnConnectPermission": {
      "Type": "AWS::Lambda::Permission",
      "DependsOn": [
        "OnConnectFunction",
        "GPWebSocketApi"
      ],
      "Properties": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": {
          "Ref": "OnConnectFunction"
        },
        "Principal": "apigateway.amazonaws.com"
      }
    },
    "OnDisconnectPermission": {
      "Type": "AWS::Lambda::Permission",
      "DependsOn": [
        "OnDisconnectFunction",
        "GPWebSocketApi"
      ],
      "Properties": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": {
          "Ref": "OnDisconnectFunction"
        },
        "Principal": "apigateway.amazonaws.com"
      }
    },
    "PlayerActionPermission": {
      "Type": "AWS::Lambda::Permission",
      "DependsOn": [
        "PlayerActionFunction",
        "GPWebSocketApi"
      ],
      "Properties": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": {
          "Ref": "PlayerActionFunction"
        },
        "Principal": "apigateway.amazonaws.com"
      }
    },
    "JoinGameSessionPermission": {
      "Type": "AWS::Lambda::Permission",
      "DependsOn": [
        "JoinGameSessionFunction",
        "GPWebSocketApi"
      ],
      "Properties": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": {
          "Ref": "JoinGameSessionFunction"
        },
        "Principal": "apigateway.amazonaws.com"
      }
    }
  },
  "Outputs": {
    "WebSocketURI": {
      "Value": {
        "Fn::Join": [
          "",
          [
            "wss://",
            {
              "Ref": "GPWebSocketApi"
            },
            ".execute-api.",
            {
              "Ref": "AWS::Region"
            },
            ".amazonaws.com/",
            {
              "Ref": "Stage"
            }
          ]
        ]
      },
      "Description": "The WSS Protocol URI to connect to"
    }
  }
}